## Load Setup

In [28]:
# Section 1: Load Setup
import pandas as pd
import sqlite3
from pathlib import Path

# Paths
Download = Path("Download")
loaded_data = Path("loaded_data")
load_folder.mkdir(exist_ok=True)

# File paths
full_csv_path = Download / "transformed_full.csv"
incremental_csv_path = Download / "transformed_incremental.csv"
sqlite_full_db = loaded_data / "full_data.db"
sqlite_incremental_db = loaded_data / "incremental_data.db"
parquet_full_path = loaded_data / "full_data.parquet"
parquet_incremental_path = loaded_data / "incremental_data.parquet"

## Load Full Transformed Data

In [30]:
# Section 2: Load Full Transformed Data

# Load CSV
df_full = pd.read_csv(full_csv_path)

# Save to SQLite
conn_full = sqlite3.connect(sqlite_full_db)
df_full.to_sql("full_data", conn_full, if_exists="replace", index=False)
conn_full.close()

# Save to Parquet
df_full.to_parquet(parquet_full_path, index=False)

## Load Incremental Transformed Data

In [32]:
# Section 3: Load Incremental Transformed Data

# Load CSV
df_incremental = pd.read_csv(incremental_csv_path)

# Save to SQLite
conn_incr = sqlite3.connect(sqlite_incremental_db)
df_incremental.to_sql("incremental_data", conn_incr, if_exists="replace", index=False)
conn_incr.close()

# Save to Parquet
df_incremental.to_parquet(parquet_incremental_path, index=False)

## Verification

In [36]:
# Section 4: Verification

# Preview SQLite table
conn_full = sqlite3.connect(sqlite_full_db)
preview_full = pd.read_sql("SELECT * FROM full_data LIMIT 5", conn_full)
conn_full.close()

print("Full Data (SQLite Preview):")
display(preview_full)

# Preview Parquet
print("Full Data (Parquet Preview):")
display(pd.read_parquet(parquet_full_path).head())

Full Data (SQLite Preview):

,Date,Close,High,Low,Open,Volume,price_range
0,2020-06-04,70.378517,71.723094,69.965992,71.497169,26982000,Low
1,2020-06-05,71.658401,71.970910,70.046107,70.445200,42642000,Low
2,2020-06-08,72.057487,72.105256,70.885091,70.974667,33878000,Low
3,2020-06-09,72.258530,73.040793,71.774842,71.918162,33624000,Low
4,2020-06-10,72.886528,73.288104,72.371990,72.727787,31762000,Low

Full Data (Parquet Preview):

,Date,Close,High,Low,Open,Volume,price_range
0,2020-06-04,70.378517,71.723094,69.965992,71.497169,26982000,Low
1,2020-06-05,71.658401,71.970910,70.046107,70.445200,42642000,Low
2,2020-06-08,72.057487,72.105256,70.885091,70.974667,33878000,Low
3,2020-06-09,72.258530,73.040793,71.774842,71.918162,33624000,Low
4,2020-06-10,72.886528,73.288104,72.371990,72.727787,31762000,Low